@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    
    --darker: #1E1D1C;
    --dark: #403E3A;
    --white: #E6E5E5;
    --orange: #FB7200;

  
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: var(--darker);
}

nav{
    background-color: var(--dark);
    border-bottom: 1px solid var(--orange);
    display: flex;
    align-items: center;
}



button{
    background-color: var(--darker);
    width: 78px;
    border-radius: 8px;
    height: 32px;
    display: flex;
    color: var(--white);
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    border: none;
}


.drop-button button{
    width: 78px;
    height: 32px;
    display: flex;
    color: var(--white);
    font-size: 14px;
}

.user-button button{

    width: 50px;


}