@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    
    --darker: #1E1D1C;
    --dark: #403E3A;
    --white: #E6E5E5;
    --orange: #FB7200;

  
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: var(--darker);
    display: grid;
    height: 100hv;
    

}

main{
    padding-left: 1rem;
    padding-right: 1rem;

}

nav{
    background-color: var(--dark);
    border-bottom: 1px solid var(--orange);
    display: flex;
    align-items: center;

    padding-left: 16px;
    padding-right: 16px;
    justify-content: space-between;
    height: 64px;
    margin-bottom: 32px;
    width: 100%;
}

.nav-buttons{

    display: flex;
    gap: 32px;

}



button{
    background-color: var(--darker);
    border-radius: 8px;
    display: flex;
    color: var(--white);
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    border: none;
}


.drop-button button{
    width: 78px;
    height: 32px;
    display: flex;
    color: var(--white);
    font-size: 14px;
    gap: 6px;
}

.user-button button{
    width: 50px;
    height: 32px;
}



.main-bar{
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}






.section_selected{
    background-color: var(--white);
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    width: 15%;
    
    
}

.section_selected button{
    color: var(--dark);
    background-color: var(--white);
    font-size: 24px;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    gap: 1rem;

}






.searchbar{
    background-color: #403E3A;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    height: 36px;
    width: 70%;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    
}

input::placeholder {
    color: var(--white);
    font-family: 'Nunito', sans-serif;
    background-color: #403E3A;
    font-size: 24px;
    

  }

  input{
    border: none;
    color: var(--white);
    font-family: 'Nunito', sans-serif;
    background-color: #403E3A;
    border: none;
    font-size: 24px;
    max-width: 200px;
  }

  .searchbar button{
    background-color: var(--dark);
  }



  .add{
    background-color: var(--orange);
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    width: 15%;
    
    
}

.add button{
    color: var(--white);
    background-color: var(--orange);
    font-size: 24px;
    justify-content: space-between;
    display: flex;
    gap: 1rem;

}


h2{
    color: var(--white);
    font-weight: 400;
    margin-bottom: 2rem;
    padding-left: 1rem;
}

article{
    background-color: var(--dark);
    width: 171px;
    color: var(--white);
    font-size: 12px;
    border-radius: 12px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;
    display: flex;
    flex-direction: column;

}

.file-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.4rem;


}

.file_type{
    background-color: var(--white);
    color: var(--darker);
    border-radius: 12px;
    width: 52px;
    height: 22px;
    text-align: center;
    font-size: 12px;
    display: flex;
    align-items: center; 
    justify-content: center; 

}


.img{
    display: flex;
    
    justify-content:center;
    margin-bottom: 0.4rem;
    
    
}

article button{
    background-color: var(--dark);
}


.icon-container{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding-bottom: 0.4rem;
}

.left-icon-container{
    display: flex;
    gap: 0.5rem;
}

.grid-articles{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(10.5625rem, 0.1fr));
    margin-bottom: 2rem;
    
    justify-content: center;
    align-items: center;
    justify-items: center;


}

.main-bar2{

    display: none;
}

.container-sections{
    display: flex !important;
    justify-content: space-between;
}

footer{
    background-color: var(--dark);
    text-align: center;

    border-top: 1px solid var(--orange);

    position: fixed;
    bottom:0px;
    height:20px;
    width:100%;
    color: var(--white);
    font-size: 14px;
    

}








  @media (max-width: 942px) {

    .main-bar{
        flex-direction: column;
    }

    .section_selected{
        width: 50%;
    }

    .add{
        width: 20%;
    }

    .add p{
        display: none;
    }

    .searchbar{
        width: 100%;
    }

    .main-bar2{
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }

    .main-bar{
        display: none;
    }

 

  }
  
  @media (max-width: 390px) {

    .main-bar{
        flex-direction: column;
    }

 

    .section_selected{
        width: 50%;
        
    }

    .add{
        width: 20%;
        
    }

    .add p{
        display: none;
    }

    .searchbar{
        width: 100%;
       
    }


  } 



