@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    
    --darker:#5c5a58;
    --dark: #403E3A;
    --white: #E6E5E5;
    --orange: #FB7200;

    --shadow-drop: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.71));

  
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: var(--darker);
    height: 100vh;
    display: flex;
    flex-direction: column;

    
    margin: auto;
    align-items: center;
    justify-content: center;

}

a{
    color: inherit;
    text-decoration: none;
    display: block;
    width: 100%;
}

main{


    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 304px;
    display: flex;
    flex-direction: column;

    
    margin: auto;
    align-items: center;
    justify-content: center;
    


    

}

nav{
    background-color: var(--dark);
    /* border-bottom: 1px solid var(--orange); */
    box-shadow: 0px -2px 16px #FB7200;
    display: flex;
    align-items: center;

    padding-left: 16px;
    padding-right: 16px;
    justify-content: space-between;
    height: 48px;
    
    width: 100%;
    

    
}

.nav-buttons{

    display: flex;
    gap: 32px;

}



button{
    background-color: var(--darker);
    border-radius: 8px;
    display: flex;
    color: var(--white);
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    border: none;
}


.drop-button button{
    width: 78px;
    height: 32px;
    display: flex;
    color: var(--white);
    font-size: 14px;
    gap: 6px;
}

.user-button button{
    width: 50px;
    height: 32px;
}

.login-inputs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.login-inputs p{
    color: var(--white);
}

.forgot-p{
    color: var(--orange);
    align-self: flex-start;
    margin-bottom: 2rem;
    text-decoration: underline;
    font-size: 0.75rem;

}

.login-inputs input{
    width: 100%;
    border: none;
    color: var(--white);
    font-family: 'Nunito', sans-serif;
    background-color: #403E3A;
    font-size: 24px;
    border-radius: 12px;
}

.login-button{
    background-color: var(--orange);
    width: 168px;
    color: var(--white);
    height: 32px;
    filter: var(--shadow-drop);
    margin-bottom: 2rem;
    font-size: 1rem;
}

.button-third-party{
    background-color: var(--dark);
    width: 100%;
    margin-bottom: 1rem;
    height: 43px;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    filter: var(--shadow-drop);
}


#test{
    gap: 24px;
    
}


footer{
    background-color: var(--dark);
    text-align: center;

    margin-top: auto;

    width: 100%;
    color: var(--white);
    font-size: 12px;
    box-shadow: 0px 2px 16px #FB7200;

    display: flex;
    justify-content: center;
    align-items: center;



}
