/* Se importa una fuente específica de Google Fonts para ser utilizada en el sitio. */

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


/* Se establece box-sizing: border-box en todos los elementos */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Se establece variables de color para ser utilizadas en todo el código */


:root {
    

    --darker:#5c5a58;
    --dark: #403E3A;
    --white: #E6E5E5;
    --orange: #FB7200;

    /* Se establece una variable para el efecto de sombra */

    --shadow-drop: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.71));

    /* Se establece la fuente y tamaño de letra para todo el sitio */
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}


/* Se establece el fondo del sitio */

body{
    background-color: var(--darker);
    height: 100hv;
    

}

/* Se establece el estilo para los enlaces */
a{
    color: inherit;
    text-decoration: none;
}

/* Se establece el estilo para el contenido principal */

main{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 4.5rem;
    max-width: 1200px;
    margin: auto;

    

}

/* Se establece el estilo para la para nav-bar */

nav{
    background-color: var(--dark);
 
    box-shadow: 0px -2px 16px #FB7200;
    display: flex;
    align-items: center;

    padding-left: 16px;
    padding-right: 16px;
    justify-content: space-between;
    height: 48px;
    margin-bottom: 32px;
    width: 100%;

    position: fixed;
    z-index: 1;
}

/* Se establece el estilo para los botones del  nav-bar */

.nav-buttons{

    display: flex;
    gap: 32px;
    filter: var(--shadow-drop);

}



button{
    background-color: var(--darker);
    border-radius: 8px;
    display: flex;
    color: var(--white);
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    border: none;
}


.drop-button button{
    width: 78px;
    height: 32px;
    display: flex;
    color: var(--white);
    font-size: 14px;
    gap: 6px;
}

.user-button button{
    width: 50px;
    height: 32px;
}

/* Se establece el estilo para la barra principal */

.main-bar{
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    justify-content: space-between;
}



/* Se establece el estilo para el div Administrador */


.section_selected{
    background-color: var(--white);
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    width: 30%;
    filter: var(--shadow-drop);
    
    
}

/* Se establece el estilo del  boton Administrador */

.section_selected button{
    color: var(--dark);
    background-color: var(--white);
    font-size: 24px;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    gap: 1rem;

}





/* Se establece el estilo del  boton "more" */

  .add{
    background-color: var(--orange);
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    width: 10%;
    filter: var(--shadow-drop);
    
    
}

.add button{
    color: var(--white);
    background-color: var(--orange);
    font-size: 24px;
    gap: 1rem;

}

.container-sort{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    filter: var(--shadow-drop);
 
}

/* Se establece el estilo para h2 */

h2{
    color: var(--white);
    font-weight: 400;
    margin-bottom: 2rem;
    padding-left: 1rem;

}




/* Se establece el estilo para la barra principal que se modifica en responsive */

.main-bar2{

    display: none;          /*Al inicio se mantiene oculta*/
}


.container-sections{
    display: flex !important;
    justify-content: space-between;
    
}



/* Se establece el estilo para el div big-files */

.big-files{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

/* Se establece el estilo para que el div big-files se muestre cn columna con Flexbox */

.big-files-container{
    display: flex;
    flex-direction: column;
    
    max-width: 22.4375rem;
}


/* Se establece el estilo para la progress bar*/

.progress-bar{
    filter: var(--shadow-drop);
    margin-bottom: 0.5rem;
}


/* Se establece el estilo para el div container-gb */

.container-gb{
    display: flex;
    justify-content: space-between;
    color: var(--white);
    font-size: 12px;
    margin-bottom: 1rem;


}


/* Se establece el estilo para el div article-big-file para centrarlos con respecto a su objeto padre */

.article-big-file{
    display: flex;
    background-color: var(--dark);
    padding: 0.5rem;
    
    color: var(--white);
    gap: 0.5rem;
    border-radius: 0.75rem;
    filter: var(--shadow-drop);
    font-size: 24px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    
}


/* Se establece el estilo para que la imagen de div article-big-file tenga una altura maxima */

.article-big-file img{
    max-height: 74px;
}


/* Se establece el estilo para el div container-file-gb */

.container-file-gb{
    display: flex;
    background-color: var(--dark);
    padding: 0.5rem;
    
    color: var(--white);
    gap: 0.5rem;
    border-radius: 0.75rem;
    filter: var(--shadow-drop);
    font-size: 1rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    
}

.gb-file{
    display: flex;
    gap: 1rem;
}

/* Se establece el estilo para el boton file_type  */ 

.file_type{
    background-color: var(--white);
    color: var(--darker);
    border-radius: 0.75rem;
    width: 3.25rem;
    height: 1.375rem;
    text-align: center;
    font-size: 0.75rem;
    display: flex;
    align-items: center; 
    justify-content: center; 

}


/* Se establece el estilo para que cada boton file_type tenga un color de fondo distinto */

#b-red{
    background-color: #982323;
    color: var(--white);

}


#b-blue{
    background-color: #234B98;
    color: var(--white);

}


#b-green{
    background-color: #23988A;
    color: var(--white);

}

#b-yellow{
    background-color: #A7BC25;

}





/* Se establece el estilo del footer y quede al fondo del arhivo siempre, incluso con scroll*/ 




footer{
    background-color: var(--dark);
    text-align: center;

    

    margin-top: auto;
    color: var(--white);
    font-size: 12px;
    box-shadow: 0px 2px 16px #FB7200;

    display: flex;
    justify-content: center;
    align-items: center;
    



}




/* Se establece el sie;o responsive pra pantallas de maximo 942px de width (Tablets)*/



  @media (max-width: 942px) {

    .main-bar{
        flex-direction: column;     /* Se cambia la direccion de la barra principal */
    }

    .section_selected{
        width: 70%;
    }

    .add{
        width: 20%;
    }

    .add p{
        display: none;          
    }

    .searchbar{
        width: 100%;
    }

    .main-bar2{
        margin-bottom: 2rem;            
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }

    .main-bar{
        display: none;          /* Se desaparece la barra principal */
    }

 

  }


  /* Se establece el sie;o responsive pra pantallas de maximo 390px de width (Moviles) */
  
  @media (max-width: 390px) {



    .main-bar{
        flex-direction: column;
    }

 

    .section_selected{
        width: 70%;
        
    }

    .add{
        width: 20%;
        
    }

    .add p{
        display: none;
    }

    .searchbar{
        width: 100%;
       
    }

   article{
    width: 160px;
    
   }

   .img img{
    width: 130px;
   }

   .grid-articles{


}


  } 



