@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    

    --darker:#5c5a58;
    --dark: #403E3A;
    --white: #E6E5E5;
    --orange: #FB7200;

    --shadow-drop: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.71));

  
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: var(--darker);
    height: 100hv;
    

}

a{
    color: inherit;
    text-decoration: none;
}

main{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 4.5rem;
    max-width: 1200px;
    margin: auto;

    

}

nav{
    background-color: var(--dark);
    /* border-bottom: 1px solid var(--orange); */
    box-shadow: 0px -2px 16px #FB7200;
    display: flex;
    align-items: center;

    padding-left: 16px;
    padding-right: 16px;
    justify-content: space-between;
    height: 48px;
    margin-bottom: 32px;
    width: 100%;

    position: fixed;
    z-index: 1;
}

.nav-buttons{

    display: flex;
    gap: 32px;
    filter: var(--shadow-drop);

}



button{
    background-color: var(--darker);
    border-radius: 8px;
    display: flex;
    color: var(--white);
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    border: none;
}


.drop-button button{
    width: 78px;
    height: 32px;
    display: flex;
    color: var(--white);
    font-size: 14px;
    gap: 6px;
}

.user-button button{
    width: 50px;
    height: 32px;
}



.main-bar{
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    justify-content: space-between;
}






.section_selected{
    background-color: var(--white);
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    width: 30%;
    filter: var(--shadow-drop);
    
    
}

.section_selected button{
    color: var(--dark);
    background-color: var(--white);
    font-size: 24px;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    gap: 1rem;

}







  .add{
    background-color: var(--orange);
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    width: 10%;
    filter: var(--shadow-drop);
    
    
}

.add button{
    color: var(--white);
    background-color: var(--orange);
    font-size: 24px;
    gap: 1rem;

}

.container-sort{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    filter: var(--shadow-drop);
 
}



h2{
    color: var(--white);
    font-weight: 400;
    margin-bottom: 2rem;
    padding-left: 1rem;

}






.main-bar2{

    display: none;
}


.container-sections{
    display: flex !important;
    justify-content: space-between;
    
}





.big-files{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}


.big-files-container{
    display: flex;
    flex-direction: column;
    
    max-width: 22.4375rem;
}

.progress-bar{
    filter: var(--shadow-drop);
    margin-bottom: 0.5rem;
}

.container-gb{
    display: flex;
    justify-content: space-between;
    color: var(--white);
    font-size: 12px;
    margin-bottom: 1rem;


}

.article-big-file{
    display: flex;
    background-color: var(--dark);
    padding: 0.5rem;
    
    color: var(--white);
    gap: 0.5rem;
    border-radius: 0.75rem;
    filter: var(--shadow-drop);
    font-size: 24px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    
}

.article-big-file img{
    max-height: 74px;
}


.container-file-gb{
    display: flex;
    background-color: var(--dark);
    padding: 0.5rem;
    
    color: var(--white);
    gap: 0.5rem;
    border-radius: 0.75rem;
    filter: var(--shadow-drop);
    font-size: 1rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    
}

.gb-file{
    display: flex;
    gap: 1rem;
}


.file_type{
    background-color: var(--white);
    color: var(--darker);
    border-radius: 0.75rem;
    width: 3.25rem;
    height: 1.375rem;
    text-align: center;
    font-size: 0.75rem;
    display: flex;
    align-items: center; 
    justify-content: center; 

}

#b-red{
    background-color: #982323;
    color: var(--white);

}


#b-blue{
    background-color: #234B98;
    color: var(--white);

}


#b-green{
    background-color: #23988A;
    color: var(--white);

}

#b-yellow{
    background-color: #A7BC25;

}









footer{
    background-color: var(--dark);
    text-align: center;

    

    margin-top: auto;
    color: var(--white);
    font-size: 12px;
    box-shadow: 0px 2px 16px #FB7200;

    display: flex;
    justify-content: center;
    align-items: center;
    



}








  @media (max-width: 942px) {

    .main-bar{
        flex-direction: column;
    }

    .section_selected{
        width: 70%;
    }

    .add{
        width: 20%;
    }

    .add p{
        display: none;
    }

    .searchbar{
        width: 100%;
    }

    .main-bar2{
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }

    .main-bar{
        display: none;
    }

 

  }
  
  @media (max-width: 390px) {



    .main-bar{
        flex-direction: column;
    }

 

    .section_selected{
        width: 70%;
        
    }

    .add{
        width: 20%;
        
    }

    .add p{
        display: none;
    }

    .searchbar{
        width: 100%;
       
    }

   article{
    width: 160px;
    
   }

   .img img{
    width: 130px;
   }

   .grid-articles{
  
    grid-template-columns: repeat(auto-fit, minmax(154px, 0.1fr));
 


}


  } 



